{% extends 'base.html.twig' %}

{% block title %}Dujkić{% endblock %}


 {% block body %}

    <img src="{{ asset('uploads/images/naslovna1.jpg') }}" class="img-fluid">


     <div class="container-fluid">

     <div class="row">
  <div class="col">


     <div class="card" style=" margin: 20px;">
         <div class="row no-gutters">
             <div class="col-md-5" style="background: #868e96;">
                 <img src="{{ asset('uploads/images/fireplace.jpg') }}" class="card-img-top h-100" alt="...">
             </div>
             <div class="col-md-7">
                 <div class="card-body">
                     <h5 class="card-title">Kamini i peći</h5>
                     <p class="card-text"></p>
                     <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                 </div>
             </div>
         </div>
     </div>


  </div>

     <div class="col">

         <div class="card" style=" margin: 20px;">
             <div class="row no-gutters">
                 <div class="col-md-5" style="background: #868e96;">
                     <img src="{{ asset('uploads/images/bijelatehnika.jpg') }}" class="card-img-top h-100" alt="...">
                 </div>
                 <div class="col-md-7">
                     <div class="card-body">
                         <h5 class="card-title">Bijela tehnika</h5>
                         <p class="card-text"></p>
                         <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                     </div>
                 </div>
             </div>
         </div>

     </div>


 </div>

         <div class="row">

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/bathroom.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Kupaonski namještaj</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/vodovodne.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Vodovodni i odvodni sistemi</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

         </div>

         <div class="row">

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/tvs.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Audio i video oprema</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/armature.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Sanitarna oprema i armature</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

         </div>


         <div class="row">

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/masinica.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Mali kućanski aparati</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/keramika.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Keramika</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

         </div>


         <div class="row">

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/kabina.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Kupaonske kade i kabine</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

             <div class="col">

                 <div class="card" style=" margin: 20px;">
                     <div class="row no-gutters">
                         <div class="col-md-5" style="background: #868e96;">
                             <img src="{{ asset('uploads/images/centroplus-kruto-peleti.jpg') }}" class="card-img-top h-100" alt="...">
                         </div>
                         <div class="col-md-7">
                             <div class="card-body">
                                 <h5 class="card-title">Centralno grijanje i instalacije</h5>
                                 <p class="card-text"></p>
                                 <a href="{{ path('findbycat', {'categoryId': '8'}) }}" class="btn btn-outline-light stretched-link">Pogledajte</a>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

         </div>

     </div>






 





{%  include 'inc/carousel.html.twig' %}


     <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2899.484571305502!2d17.58939691590721!3d43.387800279131284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b3ebdd413a191%3A0x1c2ffb4a6e435a1b!2sDujki%C4%87%20d.o.o.!5e0!3m2!1shr!2sba!4v1589381738726!5m2!1shr!2sba" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>



     {% include 'inc/footer.html.twig' %}




 {% endblock %}

 {% block javascripts %}
<script>

$('.carousel').carousel({
  interval: 2000
})

$(document).ready(function () {

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

});







</script>
{% endblock %}





